body {
    --raw-umber: #6d5f44ff;
    --gold-crayola: #e8c992ff;
    --maize-crayola: #ffd151ff;    
    background-color: var(--maize-crayola);
    color: var(--raw-umber);    
    text-align: center;
}

a {
    color: green;
}

table {
    width: 400px;
    margin: 5px;
    border: 2px solid black;
}

th {
    text-align: center;
}

tbody {
    text-align: center;
}

tr {
    border: 2px solid red;
}

td {
    border: 1px solid brown;
}

.total-td {
    text-align: right;
    border: none;
}

.cart-total {
    border: none;
}

button {
    margin: 5px;
}

footer {
    margin: 20px;
}